body{
    font-family: Arial;
    background: #e6f2ff;
    text-align: center;
}

.container{
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

img{
    width: 150px;
    border-radius: 50%;
}

button{
    background: #3399ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    background: #0073e6;
}
